@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;

    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(222, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    /* background */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    /* circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background: linear-gradient(180deg, var(--white) 0%, var(--pale-blue) 100%);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.division {
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    box-shadow: -3px 15px 57px 5px var(--light-lavender);
    border-radius: 40px;
}

.result {
    background: linear-gradient(180deg, var(--light-slate-blue) 0%, var(--light-royal-blue) 100%);
    padding: 20px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.division > .result > h1 {
    color: var(--light-lavender);
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 0;
}

.division > .result > .score {
    text-align: center;
    background: linear-gradient(180deg, var(--violet-blue) 0%, var(--persian-blue) 100%);
    margin: 30px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.division > .result > .score > .my-score {
    color: var(--white);
    padding-top: 40px;
    font-size: 64px;
    font-weight: bold;
}

.division > .result > .score > .total-score {
    color: rgba(200, 199, 255, 0.5);
}

.division > .result > .result-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 125px;
}

.division > .result > .result-text > #great {
    font-size: 24px;
    color: var(--white);
    font-weight: bold;
    margin-bottom: 10px;
}

.division > .result > .result-text > #result-paragraph {
    font-size: 16px;
    color: rgba(200, 199, 255, 0.9);
    margin: 10px;
}

.division > .summary {
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.division > .summary > h2 {
    color: var(--dark-gray-blue);
    text-align: left;
    font-size: 20px;
    padding-bottom: 20px;
}

.division > .summary > .points {
    width: 258px;
    padding: 5px;
    justify-items: left;
    margin-bottom: 15px;
    border-radius: 10px;
}

#react, #memory, #verbal, #visual {
    background-color: hsl(0, 100%, 67%, 0.2);
    color: var(--light-red);
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}

#react > span, #memory > span, #verbal > span, #visual > span {
    display: flex;
}

#react > span > *, #memory > span > *, #verbal > span > *, #visual > span > * {
    margin-left: 8px;
}

#react > p, #memory > p, #verbal > p, #visual > p {
    margin-right: 8px;
    color: var(--dark-gray-blue)
}

#react > p > span, #memory > p > span, #verbal > p > span, #visual > p > span {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}

#memory {
    background-color: hsla(39, 100%, 56%, 0.2);
    color: var(--orange-yellow);
}

#verbal {
    background-color: hsl(166, 100%, 37%, 0.2);
    color: var(--green-teal);
}

#visual {
    background-color: hsla(234, 85%, 45%, 0.2);
    color: var(--cobalt-blue);
}

#continue-btn {
    border-radius: 20px;
    padding: 10px;
    border: none;
    background: hsl(224, 30%, 27%);
    color: var(--white);
    margin-top: 15px;
    cursor: pointer;
}

#continue-btn:hover {
    background: linear-gradient(180deg, hsl(251, 86%, 53%), var(--light-royal-blue));
}

footer {
    position: absolute;
    bottom: 0%;
    left: calc(100vw - 50%);
    text-align: center;
    transform: translateX(-50%);
}

@media (max-width: 620px) {
    .division {
        width: 100vw;
        height: 100vh;
    }
    .result {
        width: 100vw;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .division > .result > .score {
        height: 130px;
        width: 130px;
        margin-bottom: 20px;
        margin-top: 25px;
    }
    .division > .result > .score > .my-score {
        padding-top: 20px;
        font-size: 54px;
    }
    .division > .result > h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
    }
    .division > .result > .result-text {
        width: 300px;
        height: 95px;
    }

    .division > .result > .result-text > #great {
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .division > .result > .result-text > #result-paragraph {
        margin: 5px;
    }

    .division {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .division > .summary > h2 {
        font-size: 17px;
        margin-top: -12px;
        padding-bottom: 20px;
    }
    
    .division > .summary > .points {
        width: calc(100vw - 50px);
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 10px;
    }
    
    #react, #memory, #verbal, #visual {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #react > span, #memory > span, #verbal > span, #visual > span {
        font-size: 16px;
    }
    
    #react > span > *, #memory > span > *, #verbal > span > *, #visual > span > * {
        font-size: 16px;
    }
    
    #react > p, #memory > p, #verbal > p, #visual > p {
        font-size: 16px;
    }
    
    #react > p > span, #memory > p > span, #verbal > p > span, #visual > p > span {
        font-size: 16px;
    }

    #continue-btn {
        margin-top: 5px;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 40px;
    }

    footer {
        margin-top: 30px;
        position: relative;
    }
}